.uploader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  .wrap {
    display: flex;
    justify-content: center;
  }
  .description-label {
    color: white;
    position: absolute;
    background: #ff6600;
    font-weight: bold;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.3);
    padding: 1px 15px;
    bottom: 0;
    left: 50%;
    z-index: 3;
    white-space: nowrap;
    transform: translate(-50%,50%) rotate(-4deg);
  }
  .button {
    color: #660099;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 80px;
    font-weight: bold;
    line-height: 1;
    border-radius: 50%;
    background: white;
    border: 6px solid #ff9900;
    position: absolute;
    cursor: pointer;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
    transition: 0.22s all;
    opacity: 0.8;

    &.back-to-theme-selected {
      top: 50%;
      left: 0;
      z-index: 3;
      transform: translate(-50%,-50%);
      &:hover {
        opacity: 1;
          transform: translate(-55%,-50%);
      }
    }
    &.upload-file {
      right: 0;
      top: 0;
      transform: translate(50%,30%);
      &:hover {
        opacity: 1;
        transform: translate(50%,25%);
      }
    }
    &.camera {
      right: 0;
      bottom: 0;
      transform: translate(50%,-30%);
      &:hover {
        opacity: 1;
        transform: translate(50%,-35%);
      }
    }
    &.done {
      z-index: 9;
      bottom: 0;
      right: 0;
      transform: translate(-50%,50%);
      &:hover {
        opacity: 1;
        transform: translate(-50%,50%) scale(1.1);
      }
    }
    &.try-again {
      z-index: 9;
      bottom: 0;
      left: 0;
      transform: translate(50%,50%);
      &:hover {
        opacity: 1;
        transform: translate(50%,45%);
      }
    }
    &.get-result {
      top: 50%;
      right: 0;
      transform: translate(80%,-50%);
      &:hover{
          transform: translate(80%,-65%) scale(1.1);
      }
    }
    &.reset {
      right: 0;
      border: none;
      bottom: 0;
      background: #ff9900;
      color: white;
      transform: translate(150%,0%) scale(0.8);
      &:hover {
        opacity: 1;
        transform: translate(150%,-10%) scale(1);
      }
    }
  }
  .theme {
    position: relative;
    margin: 0 20px;
    background: lightgrey;
    height: 250px;
    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
    }
    img {
      width: 250px;
      position: relative;
      z-index: 2;
      background: black;
    }
  }
  .uploader {
    position: relative;
    margin: 0 20px;
    box-sizing: border-box;
    .mock {
      position: relative;
      width: 250px;
    }
    #user-picture {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 250px;
      overflow: hidden;
      img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-43%) scale(1.65);
      }
    }
  }
}
.mask-container {
  // position: fixed;
  position: relative;
  background: #ff9900;
  // top:50%;
  // left:50%;
  // transform: translate(-50%,-50%);
  // pointer-events: none;
  opacity: 0;
  z-index: 99;
  .guide-title{
    color:white;
    padding:10px 15px;

    font-size:20px;
  }
  &.pop {
    pointer-events: all;
    opacity: 1;
  }
  .adjust-container {
    height: auto;
    line-height: 0;

    &.ng-hide {
      position: absolute;
      opacity: 0;
      display: block !important;
      pointer-events: none;
    }
    .zoom-slider {
      padding: 5px;
      width: 80%;
      position: absolute;
      box-sizing: border-box;
      bottom: 100px;
      display: flex;
      align-items: center;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
      background: rgba(0,0,0,0.5);
      i {
        color: white;
        margin: 0 10px;
        font-size: 22px;
      }
      .slider {
        position: relative;
        cursor: pointer;
      }
    }
  }
  .webcam-container {
    width: auto;
    // position: abso lute;
    bottom: 0;
    overflow: hidden;
    // &.ng-hide{
    //   // display: block !important;
    //   position: absolute;
    //   opacity: 0;
    //   display: none;
    //   pointer-events: none;
    // }
    .viewer-container {
      .viewer {
        // position: absolute;
        bottom: 0;
        // left:50%;
        // transform:translateX(-50%) scaleX(-1) !important;
        // pointer-events: none;
      }
    }
    .capture {
      padding: 5px;
      border: 3px #f34f4f solid;
      border-radius: 50%;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%,0);
      &:after {
        display: block;
        border-radius: 50%;
        content: " ";
        background: #f34f4f;
        width: 80px;
        height: 80px;
      }
    }
  }
  .mask-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 480px;
    height: 480px;
    cursor: move;
    
    background: url('../assets/images/result/mask-area.png');
  }
}
